.img {
    filter: grayscale(1);
    transition: 1s;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.5);
}

h1 {
    font-size: 1em;
}

.cards {
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-right: .5em;
}